<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
    <div class="container">
        <header>
            <h1>Agenda</h1>
            <p>Seus contatos estão abaixo</p>
        </header>
        <%- include('includes/messages') %>
        <section class="tabela-agenda">
            <table>
                <tbody>
                    <% contatos.forEach(contato => { %>
                        <tr>
                            <td><%= contato.nome %></td>
                            <td><%= contato.sobrenome %></td>
                            <td><%= contato.email %></td>
                            <td><%= contato.telefone %></td>
                            <td><a href="/contato/<%= contato._id %>" class="editar">Editar</a></td>
                            <td><a href="/contato/delete/<%= contato._id %>" class="apagar">Apagar</a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
    </div>
</main>

<%- include('includes/footer') %>